.container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #fff;
}

.container form {
    padding: 0 34px;
}

form .form-control {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 26px;
}
.guide {
    position: absolute;
    font-size: 12px;
    top: -24px;
    color: #49a2e9;
    width: 389px;
}
.form-control.success {
    border-bottom-color: var(--main-color);
}

.form-control.error {
    border-bottom-color: var(--primary);
}

.form-control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

small {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 3px;
    color: var(--primary);
}

.form-control span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s;
}

.form-control input:focus ~ span::before {
    width: 100%;
}
.hidden {
    position: absolute;
    right: 6px;
    top: 18px;
    font-size: 16px;
    color: #420808e0;
    cursor: pointer;
}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;

    p {
        font-weight: 700;
    }
}
.loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    z-index: 199;
    justify-content: center;
    align-items: center;

    h2 {
        animation: color-change 3s infinite;
        margin-top: 30px;
        width: 100%;
        z-index: 3;
        display: flex;
        justify-content: center;
        margin-left: 50px;

        @keyframes color-change {
            0% {
                color: var(--primary);
                opacity: 0.7;
            }
            50% {
                color: #49a2e9;
                opacity: 1;
            }
            100% {
                color: var(--primary);
                opacity: 1;
            }
        }
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.7;
    z-index: 1;
    inset: 0;
    overflow: hidden;
    animation: bg-change 4.5s infinite;

    @keyframes bg-change {
        0% {
            background-color: #eae5f5;
            opacity: 0.65;
        }
        25% {
            background-color: #51e2f5;
            opacity: 0.4;
        }
        50% {
            background-color: #a8ffbc;
            opacity: 0.65;
        }
        75% {
            background-color: #5167f5;
            opacity: 0.4;
        }
        100% {
            background-color: #e5f5e9;
            opacity: 0.65;
        }
    }
}
