@import '/src/ResponsiveStyle/responsiveStyle';

.wrap-comment {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
    height: 100%;
    background-color: #fff;

    @include breakpoint(small) {
        padding-top: unset;
    }
    .user {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 32px 0px;
        margin-bottom: 12px;
        justify-content: space-between;
        flex: 0 0 82px;

        @include breakpoint(small) {
            margin-bottom: unset;
        }

        @include breakpoint(medium) {
            padding-inline: 20px;
        }
        .info {
            flex: 1;
            &:hover span {
                cursor: pointer;
                text-decoration: underline;
            }
            span {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
            }
        }
    }
    .btn-delete {
        position: relative;
        cursor: pointer;
        opacity: 1;

        &:hover .pop-up {
            z-index: 1;
            opacity: 1;
        }

        .pop-up {
            position: absolute;
            font-weight: 700;
            line-height: 22px;
            padding: 12px 18px;
            min-width: 150px;
            right: 2px;
            bottom: -55px;
            box-shadow: #0000003d 0px 3px 8px;
            border-radius: 8px;
            background-color: #fff;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.25s ease-in-out;

            .arrow {
                position: absolute;
                color: #fff;
                top: -16px;
                right: 6px;
            }
            p {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 8px 4px;
                font-size: 16px;
                font-weight: 600;
                white-space: nowrap;
                margin-left: 8px;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
        cursor: pointer;

        &:hover ~ .info span {
            text-decoration: underline;
        }
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .main-content {
        padding: 0px 32px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 16px;

        @include breakpoint(medium) {
            padding-inline: 20px;
        }
        .des {
            font-size: 16px;
            line-height: 22px;
        }
        .music {
            display: flex;
            line-height: 22px;
            margin-top: 10px;
            margin-bottom: 8px;

            @include breakpoint(small) {
                line-height: unset;
            }
            h4 {
                margin-left: 12px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .action {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-like {
                display: flex;
                align-items: center;

                strong {
                    color: #161823bf;
                    font-size: 12px;
                    line-height: 17px;
                    text-align: center;
                    margin-right: 10px;
                }
                .like-icon {
                    width: 32px;
                    height: 32px;
                    font-size: 0px;
                    border-radius: 50%;
                    transition: all 200ms ease-in-out 0s;
                    background-color: #1618230f;
                    padding: 6px;
                    margin-right: 4px;
                }
                .comment-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    transition: all 200ms ease-in-out 0s;
                    background-color: #1618230f;
                    padding: 6px;
                    margin-right: 4px;
                }
            }
            .btn-share {
                display: flex;
                align-items: center;

                span {
                    margin-left: 6px;
                    display: flex;
                    align-items: center;
                    @include breakpoint(medium) {
                        font-size: 12px;
                    }
                }
            }
        }
        .link {
            color: #161823bf;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            margin-top: 14px;
            border: 1px solid #1618231f;
            border-radius: 8px;
            overflow: hidden;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 7px 0px 5px 12px;
                background-color: #1618230f;
            }

            span {
                background: none #1618230f;
                color: #161823;
                font-weight: 700;
                flex: 0 0 auto;
                padding: 7px 18px;

                &:hover {
                    background-color: #16182308;
                }
            }
        }
    }
    .view-comment {
        position: relative;
        width: 100%;
        padding-top: 12px;
        padding-inline: 24px;
        margin-bottom: 78px;
        background-color: #f8f8f8;
        border-top: 1px solid #16182333;
        border-bottom: 1px solid #16182333;
        overflow: hidden auto;
        min-height: 250px;
        flex-grow: 1;
    }
    .post-comment {
        flex: 0 0 auto;
        position: absolute;
        background-color: #fff;
        bottom: 0;
        width: 100%;
        padding: 20px 16px;

        .container {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    }
}

.btn-login {
    font-weight: 600;
    height: 100%;
    background: #f1f1f1;
    border-radius: 2px;
    padding: 14px 16px;
    font-size: 16px;
    color: var(--primary);
    cursor: pointer;
    text-align: center;
    width: 100%;
}
