.wrapper {
    position: relative;
    margin-bottom: 20px;
    max-width: 624px;
    padding-right: 92px;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .avatar {
        width: 116px;
        height: 116px;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
    }
    .user {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .nickname {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            cursor: pointer;

            .check {
                margin-left: 6px;
            }
        }
        .name {
            font-weight: 200;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
            color: #161823c4;
            margin-top: 8px;
            cursor: pointer;
        }
        .btn {
            max-width: 150px;
            max-height: 40px;

            b {
                margin-left: 4px;
            }
        }
    }

    .count {
        display: flex;
        align-items: center;
        margin-top: 22px;
        justify-content: flex-start;
        color: #121212bf;

        b {
            color: var(--primary);
            margin-right: 6px;
        }
        span {
            margin-right: 14px;
        }
    }
    .bio {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}
