@import '/src/ResponsiveStyle/responsiveStyle';

.wrapper {
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;

    @include breakpoint(small) {
        overflow: auto;
    }
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    @include breakpoint(small) {
        flex-direction: column;
        height: unset;
    }

    .video {
        width: 100%;

        @include breakpoint(small) {
            height: 80vh;
        }
    }
    .comments {
        max-width: 40%;

        @include breakpoint(small) {
            max-width: 100%;
        }
    }
}
