// breakpoints

@mixin breakpoint($point) {
    @if $point == 'phone' {
        @media (max-width: 500px) {
            @content;
        }
    } @else if $point == 'small' {
        @media (max-width: 780px) {
            @content;
        }
    } @else if $point == 'medium' {
        @media (max-width: 1070px) {
            @content;
        }
    } @else if $point == 'large' {
        @media (min-width: 1071px) {
            @content;
        }
    }
}
@mixin styleLayout {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 100px);
    width: 692px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 24px 0;
    min-height: 1000px;
}
