.container {
    display: flex;
    flex-direction: column;

    .wrap-title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 24px 12px;

        &::before {
            content: '';
            position: absolute;
            height: 0.5px;
            width: 100%;
            right: 0;
            background-color: #16182397;
            bottom: 0;
        }

        .title {
            font-weight: 500;
            font-size: 28px;
        }
        .icon-close {
            display: flex;
            cursor: pointer;
            opacity: 0.7;
            align-items: center;
            &:hover {
                opacity: 1;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 700px;
        padding: 8px 24px 0;

        .wrap-filed {
            position: relative;
            display: flex;
            padding: 16px 0;

            .filed-title {
                font-weight: 600;
                line-height: 24px;
                font-size: 16px;
                width: 120px;
                margin-right: 24px;
            }
            .avatar {
                position: relative;
                margin-left: 128px;
                cursor: pointer;

                .img {
                    width: 96px;
                    height: 96px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .edit-icon {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: 8px;
                    left: 68px;
                    padding: 4px;
                    background-color: #ffff;
                    color: var(--text-color-grey);
                    border: 0.1px solid #16182358;
                    border-radius: 50%;
                }
            }

            .filed-input {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 360px;
                max-width: 460px;

                .input {
                    height: 38px;
                    border-radius: 4px;
                    background: #1618230f;
                    caret-color: #fe2c55;
                    font-size: 16px;
                    color: #161823;
                    line-height: 24px;
                    padding: 8px 12px;

                    &:focus {
                        background: #1618230f;
                        outline: #16182333 solid 1px;
                    }
                }
                .error {
                    border: 1.4px solid #fe2c55;
                }
                .err-message {
                    margin-top: 4px;
                    color: #fe2c55;
                    font-size: 12px;
                }
                .error-bio {
                    color: #fe2c55;
                }
                .checking {
                    position: absolute;
                    right: 10px;
                    top: 10px;

                    .tick-icon {
                        color: #0be09b;
                    }

                    .loader {
                        width: 16px;
                        height: 16px;
                        border: 4px dotted var(--text-color-grey);
                        border-radius: 50%;
                        animation: 0.8s loader linear infinite;
                    }

                    @keyframes loader {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                p {
                    font-size: 14px;
                    color: var(--text-color-grey);
                    line-height: 16px;
                    overflow: hidden;
                    margin-top: 8px;
                }
                .textarea {
                    height: 100px;
                    resize: none;
                }
            }
        }
        .border-bottom {
            &::before {
                position: absolute;
                content: '';
                height: 0.5px;
                width: 100%;
                right: 0;
                background-color: #1618233e;
                bottom: 0;
            }
        }
    }
    .wrap-btn {
        height: 86px;
        display: flex;
        padding: 0px 24px;
        justify-content: flex-end;
        border-top: 0.5px solid #16182397;
        align-items: center;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            height: 0.5px;
            width: 100%;
            right: 0;
            background-color: #16182397;
            top: 0;
        }
    }
}
