@use '/src/ResponsiveStyle' as *;
@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --text-color: #333333;
    --black: #161823;
    --white: #fff;
    --text-color-grey: #161823bf;
    --text-color-dark: #16182380;

    --font-family: 'ProximaNova', Arial, Tahoma, PingFangSC, sans-serif;
    // DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/Proxima-Nova-Regular\ \(3\).woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/sofiapro-bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/Proxima-Nova-Semibold\ \(1\).woff2');
    font-weight: 500;
}

@font-face {
    font-family: SofiaPro;
    src: url('/asset/fonts/ProximaNova-Semibold\ \(1\).woff2');
    font-weight: 700;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--black);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}
.hidden {
    overflow: hidden !important;
}
.hidden1 {
    overflow: hidden !important;
}

// scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    z-index: -1;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
}

button,
textarea,
input,
[tabIndex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

// custom tippy

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content content {
        padding: 8px 9px;
    }
}
